.form-generator {
  display: flex;
  flex-direction: column;
  gap: $form-group-margin-bottom;
  padding: map-get($spacers, 3);
 max-width: 600px;
  margin: 0 auto;

  .form-field {
    margin-bottom: $form-group-margin-bottom;

    &__label {
      display: block;
      margin-bottom: map-get($spacers, 2);
      font-weight: $font-weight-bold;
      color: var(--color-heading);
    }

    &__input,
    &__textarea,
    &__select {
      @include form-control();
      width: 100%;
      box-sizing: border-box;
    }

    &__textarea {
      min-height: 100px;
      resize: vertical;
    }

    &__checkbox-wrapper {
      display: flex;
      align-items: center;
      gap: map-get($spacers, 2);
    }

    &__checkbox {
      width: auto;
      margin-right: map-get($spacers, 2);
    }

    &__checkbox-label {
      margin: 0;
      color: $white;
    }
  }

  .form-actions {
    margin-top: map-get($spacers, 4);
    display: flex;
    gap: map-get($spacers, 3);
    justify-content: flex-end;
  }
}