@import 'styles/base';

@import 'styles/components/form-generator';

@import 'styles/ui/button';

@import 'styles/views/feedback-form-view';
@import 'styles/views/home-view';
@import 'styles/views/registration-form-view'